<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>MLS - Fiche patient</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid" style="height: 100vh;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
        <a class="navbar-brand" th:href="@{/home}" style="font-style: italic">MédiLabo Solutions</a>
        <div>
            <div class="navbar-nav d-flex justify-content-around align-items-baseline">
                <a class="nav-item nav-link active" th:href="@{/home}">Home</a>
                <a class="nav-item nav-link" th:href="@{/patient/ajout}">Ajouter un patient</a>
                <a class="nav-item nav-link" th:href="@{/patients/liste}">Liste des patients</a>
                <div class="row">
                    <form th:action="@{/logout}" method="POST">
                        <input type="submit" value="Logout" />
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div class="fs-4 text-center mt-4">Informations générales</div>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Age</th>
            <th scope="col">Adresse</th>
            <th scope="col">Téléphone</th>
        </tr>
        </thead>
        <tbody th:if="${fiche != null }">
        <tr>
            <td th:text="${fiche.prenom}"></td>
            <td th:text="${fiche.nom}"></td>
            <td th:text="${fiche.age}"></td>
            <td th:text="${fiche.adresse}"></td>
            <td th:text="${fiche.telephone}"></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${patientErreur != null}" class="text-center">
        <span th:text="${patientErreur}" class="text-danger" style="font-size: 1rem"></span>
    </div>
    <div class="fs-4 text-center mt-4">Historique du patient</div>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="col-2">Date de visite</th>
            <th scope="col" class="col-6">Note</th>
            <th scope="col" class="col-4 text-center">Actions</th>
        </tr>
        </thead>
        <tbody th:if="${notes != null && fiche != null}">
        <tr th:each="note :${notes.content}" style="height: 8vh">
            <td th:text="${#temporals.format(note.dateCreation, 'yyyy-MM-dd hh:mm:ss')}" class="col-2"></td>
            <td th:text="${note.note}" style="white-space: pre-line" class="col-8"></td>
            <td class="col-2 text-center">
                <a th:href="@{/patient/{patientId}/note/{id}(patientId=${fiche.id}, id=${note.id})}">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav th:if="${notes != null && notes.totalPages > 0 && fiche != null}">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" th:href="@{'/patient/fiche/'+${fiche.id}+'/pageNo/'+${pageActuelle < 1? pageActuelle : pageActuelle -1}}" aria-label="Précédent">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="pageNumber : ${#numbers.sequence(1, notes.totalPages)}" class="page-item">
                <a th:text="${pageNumber}" class="page-link" th:href="@{'/patient/fiche/'+${fiche.id}+'/pageNo/'+${pageNumber -1}}"></a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{'/patient/fiche/'+${fiche.id}+'/pageNo/'+${pageActuelle +1 < notes.totalPages? pageActuelle +1: pageActuelle}}" aria-label="Suivant">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <form th:action="@{/patient/note}" method="post" th:object="${note}" class="col-10 col-sm-6 mx-auto">
        <div class="form-group" hidden>
            <label for="date">date de visite :</label>
            <input type="text" class="form-control" id="date" th:field="*{dateCreation}">
        </div>
        <div class="form-group" hidden>
            <label for="structureId">patient id :</label>
            <input type="text" class="form-control" id="structureId" th:field="*{patientId}">
        </div>
        <div class="form-group" hidden>
            <label for="structureId">patient :</label>
            <input type="text" class="form-control" id="structureId" th:field="*{patient}">
        </div>
        <div class="form-group text-center">
            <label for="note" class="form-label">Rédiger la note</label>
            <textarea class="form-control" id="note" cols="3" rows="5" placeholder="Tapez votre texte..." th:field="*{note}"></textarea>
        </div>
        <p class="text-danger" th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></p>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-2 col-4">Ajouter la note</button>
        </div>
    </form>
    <div th:if="${noteErreur != null}" class="text-center">
        <span th:text="${noteErreur}" class="text-danger" style="font-size: 1rem"></span>
    </div>
    <div class="fs-4 text-center mt-4">Rapport Diabète</div>
    <form th:action="@{/patient/rapport}" method="get"  class="col-10 col-sm-6 mx-auto">
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-2 col-4">Générer le rapport</button>
        </div>

    </form>
</div>
</body>
</html>